* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    max-height: 100%;
    overflow-y: hidden;
}
body {
    background-color: #222;
  padding: 0;
  margin: 0;
}

.wrapperSetName{
    color: indianred;
    padding-bottom: 10vh;
}


.messageTable{
    height: 80vh !important;
    overflow-y: scroll!important;
    display: block;
    color: blanchedalmond;
}

.messageToWrapper{
    text-align:right;
    padding-left: 70px !important;
    padding-right: 0px !important;
    width: 100vw;
}

.messageTo{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px !important;
    padding-left: 20px;
    text-align:right;
    background-color: brown;
    font-size: 1rem;
    display: inline-block;
    /*radius*/
    border-radius:50px 0px 50px 75px;
    -moz-border-radius:50px 0px 50px 75px;
    -webkit-border-radius:50px 0px 50px 75px;
}



.messageFromWrapper{
    text-align:left;
    padding-left: 0px !important;
    padding-right: 70px !important;
    width: 100vw;
}

.messageFrom{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px !important;
    padding-left: 30px;
    text-align:left;
    background-color: gainsboro;
    color: brown;
    font-size: 1rem;
    display: inline-block;
    /*radius*/
    border-radius:0px 50px 50px 75px;
    -moz-border-radius:0px 50px 50px 75px;
    -webkit-border-radius:0px 50px 50px 75px;
}

.sendMessageForm{
    height: 10vh !important;
    padding-bottom: 5px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


.messageContainer{
    padding-left: 0px !important;
    padding-right: 6px !important;
    text-align: right !important;
    direction: rtl;
    background-color: beige;
    /*remove btn radius*/
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    
}

.messageContainerWrapper{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.messageContainerWrapper input[type=text]:focus{
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px red;
    background-color: white;
    color: black;
}

.sendMessageBtn{
    width: 100% !important;
    display: block !important;
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
    
    /*remove btn radius*/
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}









#notfound {
  position: relative;
  height: 100vh;
  background-color: #222;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 158px;
  line-height: 153px;
}

.inputpass {
    background-color: #222;
    border: 0px;
    color: #222;
    margin-bottom: 40px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

.notfound .notfound-404 h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  font-size: 220px;
  letter-spacing: 10px;
  margin: 0px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.notfound .notfound-404 h1>span {
  text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
}

.notfound p {
  font-family: 'Josefin Sans', sans-serif;
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
}

.notfound a {
text-decoration: none;
    color: #c9c9c9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
    
}

.notfound a:hover {
  color: #ffab00;
  border-color: #ffab00;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }

  .notfound .notfound-404 h1 {
      font-size: 122px;
  }
}
